# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/settings.json
CC2D/scripts/Projects.code-workspace
CCTRI/g.png
CCTRI/outputg0.txt
CCTRI/outputg1.txt
CCTRI/outputg2.txt
CCTRI/outputg3.txt
CCTRI/outputt0.txt
CCTRI/outputt1.txt
CCTRI/outputt2.txt
CCTRI/outputt3.txt
CCTRI/outputth0.txt
CCTRI/outputth1.txt
CCTRI/outputth2.txt
CCTRI/outputth3.txt
CCTRI/outputz0.txt
CCTRI/outputz1.txt
CCTRI/outputz2.txt
CCTRI/outputz3.txt
CCTRI/t.png
cctri_build/CMakeCache.txt
cctri_build/CTestTestfile.cmake
cctri_build/outputg0.txt
CCTRI/th.png
CCTRI/z.png
cctri_build/cmake_install.cmake
cctri_build/Makefile
cctri_build/outputg1.txt
cctri_build/outputt0.txt
cctri_build/outputt1.txt
cctri_build/outputth0.txt
cctri_build/outputth1.txt
cctri_build/outputz0.txt
cctri_build/outputz1.txt
cctri_build/TRIRG
cctri_build/TRIRGConfig.h
cctri_build/CMakeFiles/cmake.check_cache
cctri_build/CMakeFiles/CMakeDirectoryInformation.cmake
cctri_build/CMakeFiles/CMakeOutput.log
cctri_build/CMakeFiles/Makefile.cmake
cctri_build/CMakeFiles/Makefile2
cctri_build/CMakeFiles/progress.marks
cctri_build/CMakeFiles/TargetDirectories.txt
cctri_build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
cctri_build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
cctri_build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
cctri_build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
cctri_build/CMakeFiles/3.22.1/CMakeSystem.cmake
cctri_build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
cctri_build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cctri_build/CMakeFiles/randNums.dir/build.make
cctri_build/CMakeFiles/randNums.dir/cmake_clean_target.cmake
cctri_build/CMakeFiles/randNums.dir/cmake_clean.cmake
cctri_build/CMakeFiles/randNums.dir/compiler_depend.make
cctri_build/CMakeFiles/randNums.dir/compiler_depend.ts
cctri_build/CMakeFiles/randNums.dir/depend.make
cctri_build/CMakeFiles/randNums.dir/DependInfo.cmake
cctri_build/CMakeFiles/randNums.dir/flags.make
cctri_build/CMakeFiles/randNums.dir/link.txt
cctri_build/CMakeFiles/randNums.dir/progress.make
cctri_build/CMakeFiles/TRIRG.dir/build.make
cctri_build/CMakeFiles/TRIRG.dir/cmake_clean.cmake
cctri_build/CMakeFiles/TRIRG.dir/compiler_depend.internal
cctri_build/CMakeFiles/TRIRG.dir/compiler_depend.make
cctri_build/CMakeFiles/TRIRG.dir/compiler_depend.ts
cctri_build/CMakeFiles/TRIRG.dir/depend.make
cctri_build/CMakeFiles/TRIRG.dir/DependInfo.cmake
cctri_build/CMakeFiles/TRIRG.dir/flags.make
cctri_build/CMakeFiles/TRIRG.dir/link.txt
cctri_build/CMakeFiles/TRIRG.dir/progress.make
p0025FPdata/*
p01FPdata/*
p0FPdata/*
Eigen/*
CC2D/*

